# Creates train/test split of raw data

In [1]:
!pip install pyspark
!pip install -U -q PyDrive
!sudo apt install openjdk-8-jdk-headless -qq
!pip install pyarrow
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Requirement already satisfied: pyspark in /home/ubuntu/venv/lib/python2.7/site-packages (3.0.2)
Requirement already satisfied: py4j==0.10.9 in /home/ubuntu/venv/lib/python2.7/site-packages (from pyspark) (0.10.9)
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
ERROR: Package 'rsa' requires a different Python: 2.7.17 not in '>=3.5, <4'
openjdk-8-jdk-headless is already the newest version (8u292-b10-0ubuntu1~18.04).
The following packages were automatically installed and are no longer required:
  linux-image-5.4.0-1041-aws linux-modules-5.4.0-1041-aws
Use 'sudo apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support pip 21.0 will remove support for this functionality.
Requirement already satisfied: pyarrow in /home/ubuntu/venv/lib/python2.7/site-packages (0.16.0)
Requirement already satisfied: six>=1.0.0 in /home/ubuntu/venv/lib/python2.7/site-packages (from pyarrow) (1.16.0)
Requirement already satisfied: futures; python_version < "3.2" in /home/ubuntu/venv/lib/python2.7/site-packages (from pyarrow) (3.3.0)
Requirement already satisfied: numpy>=1.14 in /home/ubuntu/venv/lib/python2.7/site-packages (from pyarrow) (1.16.6)
Requirement already satisfied: enum34>=1.1.6; python_version < "3.4" in /home/ubuntu/venv/lib/python2.7/site-packages (from pyarrow) (1.1.10)

In [2]:
import numpy as np
import pandas as pd
import csv
import pickle
import time
import math
import collections
import os
from tqdm import tqdm
import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [3]:
# create the session
conf = SparkConf().set("spark.ui.port", "4050")
conf = (conf.setMaster('local[*]')
        .set('spark.executor.memory', '35G')
        .set('spark.driver.memory', '35G')
        .set('spark.driver.maxResultSize', '35G'))
# create the context
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
# arrow enabling is what makes the conversion from pandas to spark dataframe really fast
sc._conf.get('spark.driver.memory')

'35G'

In [4]:
spark

## Read in raw data

In [5]:
dirPath = '/home/ubuntu/Biomed-Data-Science-NLP-Project/Data/'
patientData_filepath = dirPath + 'B220_SAA_v1.csv'
CCSR_filepath = dirPath + 'ICD_to_CCSR_20201_1.csv'

begin = time.time()
# df_pd = pd.read_csv(patientData_filepath, usecols=[0, 1, 2, 3, 5, 6, 7] + list(range(16,41)), nrows=15)

## Uncomment this line if you want to see a simple skinny table example
# df_pd = pd.read_csv(patientData_filepath, usecols=[0, 1, 2, 3, 5, 6, 7], nrows=15)

# df = spark.createDataFrame(df_pd) 
# df_pd.head()


df = spark.read.load(patientData_filepath, format="csv", sep=",", inferSchema="true", header="true")
end = time.time()
print("Reading csv took: {}".format(end - begin))

Reading csv took: 61.42474389076233

In [6]:
begin = time.time()
df = df.select(df.columns[0:8] + df.columns[16:41])
df = df.drop('Type')
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 0.18488240242004395

In [7]:
from pyspark.sql.window import Window
begin = time.time()
my_window = Window.partitionBy().orderBy("ID")

df = df.withColumn("next_Date", lead(df.Date).over(my_window))
df = df.withColumn("next_Id", lead(df.ID).over(my_window))
df = df.withColumn("datediff", datediff(col("next_Date"), col("Date")).alias("datediff"))
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 0.17697405815124512

In [8]:
begin = time.time()
df = df.withColumn("label", when(col("ID") != col("next_Id"), 2)\
              .when(col("datediff") > 30, 0)\
              .when(col("datediff") <= 30, 1)\
              .otherwise(2))
end = time.time()
print("Cell took {}".format(end - begin))
# df.show()

Cell took 0.06490874290466309

check: # union with the test dataset later to not lose these examples???

In [9]:
begin = time.time()
# removes rows that will not be used in training
df = df.filter(col("label") != 2)
# df_label2 = df.filter(col("label") == 2) 

# Drops columns
df = df.drop('next_Id', 'next_Date', 'datediff') 
end = time.time()
print("Cell took {}".format(end - begin))
# df.show()

Cell took 0.04141521453857422

In [10]:
total_count = df.count()
print("Total number of visits: {}".format(total_count))

Total number of visits: 23457733

In [11]:
begin = time.time()
df = df.orderBy(rand(seed=1234))
end = time.time()
print("Cell took {}".format(end - begin))
# df.show()

Cell took 0.02924823760986328

In [12]:
from pyspark.sql.functions import monotonically_increasing_id 
begin = time.time()
df = df.withColumn("index", monotonically_increasing_id())
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 0.021924734115600586

In [13]:
split = int(total_count * 0.8)
print("Total count: {}".format(total_count))
print("Splitting at: {}".format(split))

Total count: 23457733
Splitting at: 18766186

In [14]:
begin = time.time()
train = df.filter(col("index").between(0, split-1)).drop("index") # repartitin or coalesce after filtering -- 1GB per partition rule
# print("Size of train: {}".format(train.count()))
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 0.05051612854003906

In [15]:
begin = time.time()
train.show()
end = time.time()
print("Cell took {}".format(end - begin))

+--------+-----+------+----------+---+---+--------+---------+-------+-------+------+-------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
|      ID|Visit|Visits|      Date|Age|Sex|    Race|Dx10_prin| Dx10_1| Dx10_2|Dx10_3| Dx10_4|Dx10_5|Dx10_6|Dx10_7|Dx10_8|Dx10_9|Dx10_10|Dx10_11|Dx10_12|Dx10_13|Dx10_14|Dx10_15|Dx10_16|Dx10_17|Dx10_18|Dx10_19|Dx10_20|Dx10_21|Dx10_22|Dx10_23|Dx10_24|label|
+--------+-----+------+----------+---+---+--------+---------+-------+-------+------+-------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
| 9156719|    8|    11|2017-07-02| 26|  M|   Black|   R45851|    F29|   F329|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|11824654|    3|     4|2017-09-01| 31|  F|   White|   O26891|   R112|   R509| Z3A08|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|12948407|    2|     5|2018-05-06| 26|  M|   White|     R109|  Z8709|  Z8659|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 9012002|    1|     3|2015-11-04| 69|  M|   White|     I214|  I5031|  I4901|  G931|   I429|   D62|  D696| E1165| I4891|I25119|    I10|   I350| F17220|   Z880|  Z8249|   E785|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 4774937|    8|    12|2016-11-05| 74|  F|   White|     J441|   R251|    I10|  Z862|  M1990|  F329| Z8673|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 4742454|    1|     6|2016-05-11| 25|  F|   Black|      N61|   N644|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 1342331|    4|     9|2016-06-20| 24|  F|   White|    M7731| M79671|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|10965248|   11|    16|2018-10-11| 61|  F|   Asian|     F419|   null|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|11604556|    6|    11|2017-10-19| 57|  F|   Black|     R079|   null|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 6185195|    3|     5|2016-09-02| 64|  M| Unknown|  S01111A|S0990XA| M25512|   G20|  F0390|   I10|   Z66|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|10747956|    1|     3|2016-12-20| 73|  M|   Asian|     R339|    I10|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 2242193|   13|    14|2017-07-11| 27|  F|   White|    Z5321|   null|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 4202273|    8|    13|2016-09-20| 36|  F|   White|      N12|    I10| Z87891|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 9015131|    3|     9|2016-04-04| 84|  F|Hispanic|     K922|   N170|   E871|  E440|    D62|  I482|  E785| E8342| E8339|  R319|   I350|   Z950|  Z7982|  Z6828|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|11220886|    2|    44|2016-07-03| 45|  M|Hispanic|    Z0289|S90822A|S90412A|   Z23|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|10806316|   46|    58|2017-11-02| 45|  M|   White|    M6282|    G92|   N170|  N179|T50901A|G40409|  E538|  D509|  F329| F4310|   M545|    I10|  M4317| M47816|  M8588|   Z590|  Z8249|   Z833| Z87820| Z89029|   null|   null|   null|   null|   null|    0|
|10493061|    2|    27|2015-11-13| 22|  M|   White|  S20212A|   null|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|10050097|    1|    16|2016-05-12| 28|  F|   Black|     K088|   Z882|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 6877836|    3|     6|2016-06-22| 63|  M|   White|  S2242XA|   R079|  Z8659|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|14330181|    5|     7|2018-02-08| 27|  F|Hispanic|     J111|   null|   null|  null|   null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
+--------+-----+------+----------+---+---+--------+---------+-------+-------+------+-------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
only showing top 20 rows

Cell took 197.15790486335754

In [16]:
begin = time.time()
train_count = train.count()
end = time.time()
print("Cell took {}".format(end - begin), train_count)

Cell took 71.42446827888489 18766186

In [17]:
begin = time.time()
test = df.filter(col("index").between(split,total_count)).drop("index")
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 0.036742448806762695

In [18]:
begin = time.time()
test.show()
end = time.time()
print("Cell took {}".format(end - begin))

+--------+-----+------+----------+---+---+--------+---------+-------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
|      ID|Visit|Visits|      Date|Age|Sex|    Race|Dx10_prin| Dx10_1|Dx10_2|Dx10_3|Dx10_4|Dx10_5|Dx10_6|Dx10_7|Dx10_8|Dx10_9|Dx10_10|Dx10_11|Dx10_12|Dx10_13|Dx10_14|Dx10_15|Dx10_16|Dx10_17|Dx10_18|Dx10_19|Dx10_20|Dx10_21|Dx10_22|Dx10_23|Dx10_24|label|
+--------+-----+------+----------+---+---+--------+---------+-------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
| 4303535|    1|     6|2015-10-14| 18|  F|Hispanic|     N390|   null|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 3824128|   19|    36|2017-07-12| 58|  M|   White|  T83018A|   E119|  Z794|   I10| E7800|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 1676357|    4|    23|2016-05-03| 66|  F|   Black|     Z431|   null|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 3429391|   15|    16|2018-05-25| 53|  M|Hispanic|     Z760|  I4891| I5022|   I10| F1010|  N400|G40909|Z98890|  Z888|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 4881391|    1|     5|2016-01-10| 39|  M|   Black|  S61212A| M79641|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 6909658|    4|     5|2016-05-30| 46|  F|   White|  T63481A|S70361A|J45901| R1013|  F419|Z79899|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 6311549|    4|     6|2017-10-27| 34|  M|   White|  S0031XA| F17200|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 3169923|    2|     3|2018-07-24| 22|  M|Hispanic|   H60501|   E669| Z6843|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|  732822|    1|    11|2015-12-07| 95|  F|   White|      R55|   Z950|  F411| F0390|  R509|   I10|  M810|  I700|  I441|Z86718|  Z7982|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 4981191|    4|     5|2017-12-18| 62|  M|   White|     I639|  R6521|   E43|   G92|  R571|L89159| R1319|  E870| F0390|  E860|  J9601|  E8342|    I38|  B9689|   D638|   E876|   I493|   N390|    Z66|  Z7982| Z79899|  Z8673| Z87440|  Z6821| Z22322|    1|
|12797848|   10|    11|2018-08-16| 48|  M|   White|    R1031|   F419|J45909| K5730|  N200|  K760|  Z833|Z87442|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|10270741|    3|    11|2015-10-26| 25|  F|   White|     O200|  Z3A09|  Z880|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|10313384|    4|    12|2016-08-13| 54|  F|Hispanic|    R0789|    I10|  M329|  E669| Z6842| Z9049|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
| 7509893|    6|    28|2016-03-27| 55|  M|   White|   F10129|   F329|   I10|  K219|F17200|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|11564044|    6|    15|2017-08-21| 44|  M|   Black|   L03011|   E119|   Z23|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|11505935|    4|    14|2016-01-26| 19|  F|   Black|    Z3201|   null|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
| 9477617|    1|     6|2015-11-16|  1|  M|   White|    R0602|    R05|  J209|  J050|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
|10258015|    2|     4|2017-06-20| 41|  F|Hispanic|   H00031|   J329|F17200|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|10297408|    1|    12|2016-01-08| 93|  M|   White|     G459|   I509|   I10|  E039|  N400|  Z952|  Z950| Z8673| Z7901|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    1|
|12896318|    6|     8|2017-07-19| 41|  F|   White|  S39012A| F17210|  null|  null|  null|  null|  null|  null|  null|  null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|   null|    0|
+--------+-----+------+----------+---+---+--------+---------+-------+------+------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-----+
only showing top 20 rows

Cell took 194.39614820480347

In [19]:
begin = time.time()
test_count = test.count()
print(test_count)
end = time.time()
print("Cell took {}".format(end - begin))

4691547
Cell took 69.69048237800598

## Save train and test to csv

In [20]:
# train.write.mode('overwrite').parquet(dirPath + "train")

In [21]:
# train_df = train.toPandas()

In [22]:
begin = time.time()
train.write.format('csv').option('header', True).option('sep',',').mode('overwrite').save(dirPath + 'train')
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 255.01294088363647

In [23]:
begin = time.time()
test.write.format('csv').option('header', True).option('sep',',').mode('overwrite').save(dirPath + 'test')
end = time.time()
print("Cell took {}".format(end - begin))

Cell took 218.47496604919434

In [24]:
begin = time.time()
train_loaded = spark.read.format("csv").load(dirPath + "train",
                     sep=",", inferSchema="true", header="true")
end = time.time()
print("Cell took {}".format(end - begin))
train_count_loaded = train_loaded.count()
print(train_count_loaded, train_count)

Cell took 27.897841930389404
18766186 18766186

In [25]:
begin = time.time()
test_loaded = spark.read.load(dirPath + "test",
                     format="csv", sep=",", inferSchema="true", header="true")
end = time.time()
print("Cell took {}".format(end - begin))
test_count_loaded = test_loaded.count()
print(test_count_loaded, test_count)

Cell took 7.800708055496216
4691547 4691547